@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
 
  justify-content: space-between  ;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


/*Solution*/

ul{
  list-style-type: none;
}

a{
  color:grey;
  text-decoration: none;
}

.header,.footer{
  display: flex;
  justify-content: space-between;
}

.left-links,.right-links{
  display:flex;
  gap:20px;
  padding-left: 20px;
  padding-right: 20px;
}
.content{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.footer{
  background-color: rgb(245, 245, 245);
}
button{
  padding: 15px;
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 25px;
}
